@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');

body {
    background-color: #FFB6C1;
    color: rgba(56, 6, 6, 0.89);
    font-size: 26px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    max-width: 850px;
    margin-left: 25px;
    /* margin: auto; */
}

p {
  font-size: 22px;
  color: rgba(88, 55, 55, 0.60);
}

.logo {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: -8px 1px 8px #d43636;
    /* background: url(./logo.png) no-repeat; */
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 20px;
    margin-left: 25px;
}

.table {
    width: 550px;
    margin: auto;
    background-color: rgb(228, 152, 53);
    border: solid rgb(163, 99, 14);
    box-shadow: -8px 1px 8px #d43636;
    border-radius: 15px;
    padding: 5px;
}


ol {
  margin: 15px 0 15px 0;
}

a {
    color: rgb(59, 49, 148);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} 

a:active {
    font-size: larger;
}


td, th {
    border: none; 
}

hr {
  margin-bottom: 15px;
}


.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.block {
  display: flex;
}

.info {
  margin-top: 20px;
}

.info h2,
.info h4,
.info p {
 margin: 5px 0 5px 30px;
}

.form {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* .form-name .form-group{
  display: inline-block;
} */

.form h3 {
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  display: block;
} 

.form-group input,
.form-group textarea {
  width: 250px;
}

@media (max-width: 600px) {
  .block {
    text-align: center;
    display: block;
  }
 .table {
  font-size: 20px;
  width: 70%;
  padding: 0px;
 }
}